@font-face {
    font-family:BebasNeue;
    src: url(shrift/BebasNeue\ Regular.otf),
}
@font-face {
    font-family:Sans;
    src: url(shrift/OpenSans-SemiBold.ttf),
}
*{
    margin: 0;
    padding: 0;
}
.bg_up{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    background-image: url(img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.lOEl{
    color: white;
    font-family: Sans;
    font-size: 11px;
    letter-spacing: 3.7px;
    margin-bottom: 80px;
}

.logo{
    width:100px ;
    height:100px;
}
.h1_first{
    color: white;
    font-family: BebasNeue;
    font-weight: 100;
    letter-spacing: 6px;
    font-size :60px;
    ;
    
}
.logo-text{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.contain_header{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 970px;
   
}
.Nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

.nav-list a:hover{
    transition: all 0.3s ease 0s;
    color:  #00A4E5 ;
}
.nav-list a{
    color: #48555B;
    text-decoration: none;
}
.nav-list {
    font-family:Sans;
    list-style-type:none;
    display: flex;
    gap: 50px;  
    

}
.black-logo{
    width: 100px;
    height: 25px;
}
.h2-our{
    font-family:Sans;
    margin: 60px;
    text-align: center;
    font-size: 18px;    
    font-weight: 600;
    letter-spacing: 2.306px;
    margin-bottom: 90px;
}
.text-our-right
{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 0.188px;

}
.div-our{
     display: flex;
}

.img-inf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    max-width: 100px;
    gap: 16px;
}
.setting-str
{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 970px; 
}
.Plan{
    
}
